Michael Ersevim - Milestone 4 - DSC540

In [1]:
import json #Needed to parse JSON data
import requests #gets data from a URL using API
import import_ipynb

#STEP - 1: Prove can return API values from OpenWeather

temp_lst = [] #create empty list
input_zips = ['06033', '02860', '32084', '20740'] #sample list of zips to test

for input_zip in input_zips: #iterate through test list of zips
    url = f'http://api.openweathermap.org/data/2.5/weather?zip={input_zip},' \
          f'us&units=imperial&appid=4beb051f720dbfe14568322d1bff5b5c'
    json_file = requests.get(url)   #uses GET and assigns to var
    json_object = json.loads(json_file.text)  # JSON parser
    temp_lst.append(json_object["main"]["temp"]) # append temperatures to list

#STEP 2 - Show list of zips can be iterated though and results stored in new list
    
print(temp_lst) #results look reasonable! (for Fahrenheit)

[31.91, 38.37, 66.13, 46.78]

In [2]:
#STEP 3 - Show average can be calculated of any number of results for eventual comparison to NOAA data further down

sum(temp_lst)/len(temp_lst)

45.7975

In [3]:
# STEP -4: Bring in results from prior Milestone for NOAA temps
%run M_ERSEVIM_DSC540_Milestone_3.ipynb

In [4]:
df.head()

  Year_Mo     Temp  Index  Temp_Num   Celsius  Year
0  189512  31.71°F     36     31.71 -0.161111  1895
1  189612  35.55°F    104     35.55  1.972222  1896
2  189712  30.76°F     24     30.76 -0.688889  1897
3  189812  28.67°F      9     28.67 -1.850000  1898
4  189912  31.62°F     35     31.62 -0.211111  1899

In [7]:
# STEP 5: Calc mean of NOAA temp list
noaa_mean = sum(df['Temp_Num'])/len(df)
print(noaa_mean)

32.99984251968504