In [1]:
pwd

'C:\\Users\\mersevim\\DS540 JNB'

In [2]:
import pandas as pd #needed
import html5lib

In [3]:
df = pd.concat(pd.read_html('https://www.ncdc.noaa.gov/cag/national/time-series/110/tavg/1/12/1895-2021/data.html'))# read in data

In [4]:
df.head(5) #test

     Date    Value  Rank
0  189512  31.71°F    36
1  189612  35.55°F   104
2  189712  30.76°F    24
3  189812  28.67°F     9
4  189912  31.62°F    35

In [5]:
df.rename(columns={'Date': 'Year_Mo', 'Value':'Temp', 'Rank':'Index'}, inplace = True) #rename the columns 1 of 5 xforms

In [10]:
df.head(5)

   Year_Mo     Temp  Index
0   189512  31.71°F     36
1   189612  35.55°F    104
2   189712  30.76°F     24
3   189812  28.67°F      9
4   189912  31.62°F     35

In [22]:
#use function to change Temp str to int - 2 of 5 xforms

df['Temp_Num'] = df['Temp'].str[:5]

In [23]:
df.head(5)

   Year_Mo     Temp  Index Temp_Num
0   189512  31.71°F     36    31.71
1   189612  35.55°F    104    35.55
2   189712  30.76°F     24    30.76
3   189812  28.67°F      9    28.67
4   189912  31.62°F     35    31.62

In [31]:
df['Temp_Num'] = pd.to_numeric(df['Temp_Num'],errors='coerce') #use function to change Temp str to numeric 3 of 5 xforms
df['Celsius'] = (df['Temp_Num']-32) *5/9 # 4 of 5 xforms

In [32]:
df.head(5)

   Year_Mo     Temp  Index  Temp_Num   Celsius
0   189512  31.71°F     36     31.71 -0.161111
1   189612  35.55°F    104     35.55  1.972222
2   189712  30.76°F     24     30.76 -0.688889
3   189812  28.67°F      9     28.67 -1.850000
4   189912  31.62°F     35     31.62 -0.211111

In [35]:
df['Year_Mo'] = df['Year_Mo'].astype(str) #make yearmo a sring
df['Year'] = df['Year_Mo'].str[:4] #split the string
df['Year'] = pd.to_numeric(df['Year'],errors='coerce') # make the year field a numeric - 5 of 5 xforms
df.head(5)

  Year_Mo     Temp  Index  Temp_Num   Celsius  Year
0  189512  31.71°F     36     31.71 -0.161111  1895
1  189612  35.55°F    104     35.55  1.972222  1896
2  189712  30.76°F     24     30.76 -0.688889  1897
3  189812  28.67°F      9     28.67 -1.850000  1898
4  189912  31.62°F     35     31.62 -0.211111  1899